@{
    List<Colibri.Models.Products.Product> itemList = ViewBag.Items;
}

@if (itemList != null || itemList!.Count > 0)
{

    foreach (var item in itemList)
    {
        
        string style = (item.IsShow == 0) ? "tr-red" : "";
        string button_caption = (item.IsShow == 1) ? "Delete" : "Restore";

        
        <tr class="item @style" id="item {@item.Id}">
            <td>
                @item.Title
            </td>
            <td>
                @item.Price
            </td>
            <td class="td-admin-tool">
                <a href="javascript:void(0)" onclick="updateEvent(@item.Id)" id="delete@(item.Id)">@button_caption</a>
                <a href="@Url.Action("editProduct", "Manage", new { id = item.Id })" onclick="javascript:event.stopPropagation();">Edit</a>
                <input type="hidden" id="status@(item.Id)" value="@item.Id"/>
            </td>
        </tr>
    }
}
