@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    List<Colibri.Models.Portfolios.Portfolio> itemList = ViewBag.Items;
}

@if (itemList != null || itemList!.Count > 0)
{

    foreach (var item in itemList)
    {
        <tr class="item" id="item {@item.Id}">
            <td>
                @item.Id
            </td>
            <td>
                @item.BrandName
            </td>
            
            <td class="td-admin-tool">
                <a href="@Url.ActionLink(action: "editLocation", controller: "Manage")/@(item.Id)" onclick="javascript:event.stopPropagation();">@Localizer["Edit"].Value</a>
                <input type="hidden" id="status@(item.Id)" value="@item.Id" />

            </td>
        </tr>
    }
}
