@using Microsoft.AspNetCore.Mvc.Localization
@using SelectListItem = Microsoft.AspNetCore.Mvc.Rendering.SelectListItem
@using Colibri.Models.Portfolios
@model Colibri.Models.Commands.Product.CreateProductCommand

@{
    ViewBag.Title = "Colibri Control Panel";
    Layout = "/Views/Shared/_Manage.cshtml";

    List<SelectListItem> portfolioList = new List<SelectListItem>();

    List<Portfolio>? portfolios = ViewBag.Products;

    Microsoft.Extensions.Primitives.StringValues queryVal;
    Context.Request.Query.TryGetValue("s", out queryVal);
    string status_style = (queryVal.Count == 0) ? "display: none" : "";
}

<div class="block-container-mid">

    <form action="@Url.Action("Create", "Product")"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-failure="failForm" data-ajax-success="successForm">
        <div class="_form" id="formAdd">
            <div id="success" class="success-item" style="@status_style">Successfully added</div>
            <div id="error" class="error" style="display:none;">Error</div>
            <div id="divValidationSummary">@Html.ValidationSummary()</div>
            
            <div class="item">
                <div class="caption"><label for="title">Title</label></div>
                <div class="input">
                    @Html.TextBoxFor(model => model.Title, new { autocomplete = "off" })
                </div>
            </div>
            <div class="item">
                <div class="caption"><label for="description1">Description1</label></div>
                <div class="input">
                    @Html.TextBoxFor(model => model.Description1, new { autocomplete = "off" })
                </div>
            </div>
            <div class="item">
                <div class="caption"><label for="description2">Description2</label></div>
                <div class="input">
                    @Html.TextBoxFor(model => model.Description2, new { autocomplete = "off" })
                </div>
            </div>
            <div class="item">
                <div class="caption"><label for="price">Price</label></div>
                <div class="input">
                    @Html.TextBoxFor(model => model.Price, new { autocomplete = "off" })
                </div>
            </div>
            <div class="item item-top m20">
                <div class="caption">Image</div>
                <div class="input">
                    <div class="tools-buttons tools-icons">
                        <div class="tools">
                            <div class="tool" id="toolUpload">
                                Upload
                                <input type="file" id="photoUpload" class="upload-hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="media_" id="mediaList">
                    </div>
                    @Html.HiddenFor(model => model.Logo, new { id = "Logo" })
                </div>
            </div>
            <div class="item m10">
                <div class="caption"> </div>
                <div class="input"><input type="submit" value="Add" /></div>
            </div>
            
        </div>
    </form>
</div>

@section Scripts {

    <script type="text/javascript">

        $('#photoUpload').on('change', function(e) {
            var files = e.target.files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadFile", "Files")?f=products',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function(result) {
                            $('#Logo').val(result); // Set the value of the Logo field
                            $('#mediaList').html('<img src="/images/products/' + result + '" />');
                        },
                        error: function(xhr, status, p3, p4) {
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });

        function successForm(data) {
            if (data != -1) {
                location.href = '?s=1';
            } else {
                $('#divValidationSummary li').remove();
                $('#error').show();
            }
        }

        function failForm(request, error) {
        }
    </script>
}