@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SelectListItem = Microsoft.AspNetCore.Mvc.Rendering.SelectListItem
@using Colibri.Models.Portfolios
@model Colibri.Models.Commands.Portfolio.UpdatePortfolioCommand
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Colibri Control Panel";
    Layout = "~/Views/Shared/_Manage.cshtml";

    List<SelectListItem> partnerList = new List<SelectListItem>();
    List<SelectListItem> sponsorPackList = new List<SelectListItem>();
    
    List<Portfolio>? portfolios = ViewBag.Portfolios;

    
    Microsoft.Extensions.Primitives.StringValues queryVal;
    Context.Request.Query.TryGetValue("s", out queryVal);
    string status_style = (queryVal.Count == 0) ? "display: none" : "";
    
    Colibri.Models.Portfolios.Portfolio item = ViewBag.Item;

}
<div class="block-container-mid">

    <form action="@Url.ActionLink(controller: "Porfolio", action: "Update")"
          data-ajax="true" method="POST" type="PUT" data-ajax-method="POST"
          data-ajax-failure="failForm" data-ajax-success="successForm">
        <div class="_form" id="formAdd">
            <div id="success" class="success-item" style="@status_style">Successfully edited</div>
            <div id="error" class="error" style="display:none;"></div>
            <div id="divValidationSummary">@Html.ValidationSummary()</div>
            <div class="media_" id="mediaList"></div>
            @Html.HiddenFor(model => model.Id, new { Value = item.Id })
            

            <div class="item m10">
                <div class="caption"> </div>
                <div class="input"><input type="submit" value=@Localizer["Save"] /></div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        function successForm(data) {
            if (data != -1) {
                location.href = '/manage/editPortfolio/@(item.Id)?s=1'
            }
            else if (data == -1) {
                $('#divValidationSummary li').remove();
                $('#error').show();
            }
        }
        function failForm(request, error) {
        }

        $(document).ready(function() {
            $('#NamePlace').val('@item.Description');
            $('#CoordinateX').val('@item.BrandName');
        })


    </script>
}